.button, button {
  text-decoration: none;
  text-align: center;
  color: #fff;
  background: rgb(10,54,65);
  background: linear-gradient(20deg, rgba(10,54,65,1) 36%, rgba(12,70,84,1) 53%, rgba(10,54,65,1) 69%, rgba(10,54,65,1) 100%, rgba(10,54,65,1) 100%);
  border-radius: 25px;
  border: none;
  margin: 5px;
  box-shadow: 4px 3px 7px -1px rgba(0,0,0,0.77);
  
}
.button_large, button {
  display: block;
  width: 90%;
  padding: 5px;
  margin: 0 auto;
  max-width: 580px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.place_order{
  max-width: 45%;
}

.button_small {
  padding: 5px;
  width: 75px;
  margin: 20px;
}

.button_index{
  margin: 10px;
  width: 87px;
}

button:hover{
  cursor: pointer;
}

.dot {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin: 2px;
  box-shadow: 4px 3px 7px -1px rgba(0,0,0,0.77);
  display: inline-block;
}
.dot_orange {
  background-color: #f64e00;
}
.dot_blue {
  background-color: #003cf3;
}
.dot_yellow {
  background-color: #e2a900;
}
.dot_pink {
  background-color: #dcb7af;
}
.dot_light_blue {
  background-color: #7dcaef;
}
.dot_green {
  background-color: #55bb46;
}
.dot_red {
  background-color: #de2432;
}

.dots {
  display: flex;
}
